// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// Palette Colors
$darkPrimary  = #00796B
$lightPrimary = #B2DFDB
$primaryColor = #009688
$accentColor  = #FF9800
$houverColor  = #0b999e
$activeColor  = #00968894

// Texts
$textIcons    = #0b999e
$primaryText  = #212121
$secondText   = #757575
$darkLabel    = #212121
$dividerColor = #BDBDBD

// Pages
$backPage     = rgba(227, 222, 222, 0.47)

// Alerts
$neutral      = #E0E1E2
$positive     = #21BA45
$negative     = #DB2828
$info         = #31CCEC
$warning      = #F2C037

// Default
$white     = #FFF
