// app global css
@import '~variables';
.back-color-default{
  background-color: $backPage;
}
div.my-breadcrumbs {
  margin-top: 10px;
  margin-left: 10px;
  .bread-active.router-link-active {
    background: transparent !important;
    padding-right: 5px;
    border-right: 3px solid;

  }
}
